*{
  font-family: inherit;
  font-size: inherit;
  color:inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}
body{
  font-family: 'Montserrat', 'Noto Sans KR',  sans-serif;
  font-size: 16px;
  color:#444;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  main{
    overflow: hidden;
    position: relative;
    section{
      width: 100%;
      height: 100vh;
      padding-top: 70px;
      box-sizing: border-box;
      scroll-snap-align: start;
    }
  }
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('../font/NEXON\ Lv1\ Gothic\ OTF\ Bold.woff') format('woff');
  font-weight: normal;
  font-style: Bold;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('../font/NEXON\ Lv1\ Gothic\ OTF\ Light.woff.woff') format('woff');
  font-weight: normal;
  font-style: Light;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('../font/NEXON\ Lv1\ Gothic\ OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSL.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSR.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSB.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanL.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanM.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanEB.woff") format("woff");
  font-weight: bold;
}
.nexon {
  font-family: 'NEXON Lv1 Gothic OTF';
}
.ebs {
  font-family: "EBS";
}
.namsan {
  font-family: "namsan" ;
}
.mont {
  font-family: "Montserrat";
}
.noto {
  font-family: "Noto Sans KR";
}
.quick{
  font-family: 'Quicksand';
}
:root{
  --main-color:#b5a4ea;
}

.blue1{
  background-color: #4e8cc2;
}
.blue2{
  background-color: #0272bc;
}
.dark-blue{
  background-color: #3a6d81;
}
.sky{
  background-color: #8ed1f1;
}
.light-yellow{
  background-color: #fee5b1;
}
.yellow{
  background-color:#ffcc00 ;
}
.navy{
  background-color: #203e5f;
}
.dark-navy{
  background-color: #000a16;
}
.dark-navy2{
  background-color: #18222b;
}
.dark-navy-t{
  color:#000a16;
}
.dark-gray{
  background-color: #333;
}
.dark-gray2{
  background-color: #3a3a3a;
}
.gray{
  background-color: #666666;
}
.brown{
  background-color: #8e7760;
}
.ivory{
  background-color: #bbb1a6;
}
.ivory2{
  background-color: #eee3d5;
}
.light-yellow2{
  background-color: #f4d1ae;
}
.light-orange{
  background-color: #ffc879;
}
.orange{
  background-color: #f68e56;
}
.black{
  background-color: #000;
}
.not-scroll::-webkit-scrollbar {
  display: none;
}
.not-scroll{
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}